.news--container {
  min-height: calc((100vh - 66px));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .single--article {
    min-height: calc((100vh - 132px)/2);
    &--link {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      color: var(--secondary-color);
      &--header {
        h4, h5 {
        }
      }

      img {
        transition: var(--transition-speed) ease-in-out;

      }
      &:hover {
        text-decoration: none;
        img {
          filter: grayscale(100%);
          transition: var(--transition-speed) ease-in-out;
        }
      }
    }


  }
}

.news--headline {
  display: inline-block;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 2rem; right: 2rem;
    height: 2px;
    background-color: var(--primary-color);
  }
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0;
}
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

.link {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .news--container {
    .single--article {
      min-height: 0;

      &--header {
      }
      &--link {
        min-height: 0;

      }


    }
  }

}
