.transition-element > * {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  min-height: 1px;
  width: 100%;
}

.fade-enter {
  transition: all var(--transition-speed) ease-in-out var(--transition-speed);
  opacity: 0;

}

.fade-appear {
  @extend .fade-enter;
}

.fade-enter-active {
  opacity: 0;
  transition: all var(--transition-speed) ease-in-out ;
}

.fade-enter-done,
.fade-appear-done {
  opacity: 1;
  transition: all var(--transition-speed) ease-in-out;

}

.fade-exit-active,
.fade-leave-active {
  opacity: 0;
  transition: all var(--transition-speed) ease-in-out;

}
