.weather {

  &--container {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    h1, h2, h3, h4, h5,p {
      font-weight: 400 !important;

    }
  }
  &--temperature {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
  }
}
